services:
  server:
    build: .
    container_name: node_server
    ports:
      - "5000:5000"
    env_file:
      - .env
    depends_on:
      - redis
    restart: always

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"